<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-demo(titrePage=~{::title}, contenuPage=~{:: .center-main})}">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
    <title>Détails</title>
</head>
<body>

    <main class="center-main">
        <h3>Détail du formateur</h3>

        <form data-th-replace="~{fragments/fragment-film-form :: frag-film-form(~{})}"></form>
    </main>


</body>
</html>