<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-demo(titrePage=~{::title}, contenuPage=~{:: .center-main})}">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>
<body>

    <main class="center-main">
        <h3>Les films de l'ENI</h3>
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">Genre</th>
                <th scope="col">Année</th>
                <th scope="col">Titre</th>
                <th scope="col">Réalisateur</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="films: ${films}">
                <td th:text="${films.getGenre().titre}" />
                <td th:text="${films.getAnnee()}"/>
                <td th:text="${films.getTitre()}"/>
                <td th:text="${films.getRealisateur().prenom + ' ' + films.getRealisateur().nom}"/>
                <td><a data-th-href="@{/details(id=${films.id})}">Actions</a></td>
            </tr>
            </tbody>
        </table>
    </main>
</body>
</html>